
/* 좋아요 및 싫어요 위치 */
.post-ratings-container {
	display: flex;

	margin: 200px 200px;
}

/* 좋아요 버튼, 좋아요 개수, 싫어요 버튼, 싫어요 개수 정렬*/
.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
}

/* 좋아요 버튼과 싫어요 버튼 사이 거리*/
.post-rating:not(:last-child) {
	margin-right: 12px;
}

/* 버튼을 누른 후 색상*/
.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
	color: red;
}

/* 버튼과 개수 사이 거리 및 색상*/
.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #555555;
}

/* 버튼에 마우스를 놓으면 회색(#555555)에서 검은색(#000000)으로 변함*/
.post-rating:not(.post-rating-selected) > .post-rating-button:hover {
	color: #000000;
}